{
	"semi": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "es5",
	"endOfLine": "auto",
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always"
}
